{% extends 'baseArticle.html' %}

{% block title %}
    talk^)
{% endblock title %}

{% block art %}
<div style="margin-top: 75px;" class='container_for_educations'>
    {% if list %}
        {% for lists in list %}
            <div class="header_inner_border">
                <div class="flex_param_index">
                    <div class='text_for_index'>
                        <a class='text_for_url' href="{% url 'users:prof' lists.user_attachment.slugCustomUser %}">user:{{lists.user_attachment.username}}</a>
                        <p>{{lists}}</p>
                        <p>дата: <em style="color: gray;">{{lists.dateCreateMessage}}</em></p>
                        <p>id:{{lists.id}}</p>
                    </div>
                </div>
            </div>
        
        {% endfor %}
    {% else %}
        <p>None</p>
    {% endif %}
</div>

{% if user.is_authenticated %}
<form action="" method="post">
<div class='container_for_educations'>
        <div class='text_for_index'>
            {% csrf_token %}
            <p>{{ form.body_message }}</p>
            <input type="submit" value="отправить сообщение">
        </div>
    </div>
</div>
</form>
{% else %}
<div class='container_for_educations'>
    <ul>Войдите, чтобы оставлять сообщения: <a class='text_for_url' href="{% url 'login'%}?next={{request.path}}">Login</a></ul>
</div>
{% endif %}

{% endblock art %}